{% include "partial/header.html" %}

<main class="flex-grow w-full items-center justify-center">

    <!-- Search + Filters Section -->
    <div class="px-4 py-4 flex flex-col justify-center items-center gap-4 w-full">
        <form id="searchForm" class="w-full flex-col flex gap-4 items-center">
            <!-- Search input -->
            <div class="w-full md:w-1/2 flex">
                <input
                        type="text"
                        name="query"
                        placeholder="Search..."
                        class="flex-grow input input-rounded-l"
                />
                <button
                        type="submit"
                        class="btn btn-icon btn-icon-rounded-r border-l-0"
                >

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 4.5 4.5a7.5 7.5 0 0 0 12.15 12.15z"/>
                    </svg>
                </button>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-5 gap-2 items-center">
                <!-- Type selector -->
                <select name="types" multiple size="7"
                        class="col-span-1 select input-rounded">
                    <option value="Checkpoint">Checkpoint</option>
                    <option value="LORA">LORA</option>
                    <option value="TextualInversion">TextualInversion</option>
                    <option value="Hypernetwork">Hypernetwork</option>
                    <option value="AestheticGradient">AestheticGradient</option>
                    <option value="LoCon">LoCon</option>
                    <option value="DoRA">DoRA</option>
                    <option value="Controlnet">Controlnet</option>
                    <option value="Upscaler">Upscaler</option>
                    <option value="MotionModule">MotionModule</option>
                    <option value="VAE">VAE</option>
                    <option value="Poses">Poses</option>
                    <option value="Wildcards">Wildcards</option>
                    <option value="Workflows">Workflows</option>
                    <option value="Detection">Detection</option>
                    <option value="Other">Other</option>
                </select>

                <select name="baseModels" multiple size="7"
                        class="col-span-1 select input-rounded">
                    <option value="">Any</option>
                    <option value="AuraFlow">AuraFlow</option>
                    <option value="Chroma">Chroma</option>
                    <option value="CogVideoX">CogVideoX</option>
                    <option value="Flux.1 S">Flux.1 S</option>
                    <option value="Flux.1 D">Flux.1 D</option>
                    <option value="Flux.1 Krea">Flux.1 Krea</option>
                    <option value="Flux.1 Kontext">Flux.1 Kontext</option>
                    <option value="Flux.2 D">Flux.2 D</option>
                    <option value="HiDream">HiDream</option>
                    <option value="Hunyuan 1">Hunyuan 1</option>
                    <option value="Hunyuan Video">Hunyuan Video</option>
                    <option value="Illustrious">Illustrious</option>
                    <option value="Imagen4">Imagen4</option>
                    <option value="Kolors">Kolors</option>
                    <option value="LTXV">LTXV</option>
                    <option value="Lumina">Lumina</option>
                    <option value="Mochi">Mochi</option>
                    <option value="Nano Banana">Nano Banana</option>
                    <option value="NoobAI">NoobAI</option>
                    <option value="ODOR">ODOR</option>
                    <option value="OpenAI">OpenAI</option>
                    <option value="Other">Other</option>
                    <option value="PixArt a">PixArt a</option>
                    <option value="PixArt E">PixArt E</option>
                    <option value="Playground v2">Playground v2</option>
                    <option value="Pony">Pony</option>
                    <option value="Pony V7">Pony V7</option>
                    <option value="Qwen">Qwen</option>
                    <option value="Stable Cascade">Stable Cascade</option>
                    <option value="SD 1.4">SD 1.4</option>
                    <option value="SD 1.5">SD 1.5</option>
                    <option value="SD 1.5 LCM">SD 1.5 LCM</option>
                    <option value="SD 1.5 Hyper">SD 1.5 Hyper</option>
                    <option value="SD 2.0">SD 2.0</option>
                    <option value="SD 2.0 768">SD 2.0 768</option>
                    <option value="SD 2.1">SD 2.1</option>
                    <option value="SD 2.1 768">SD 2.1 768</option>
                    <option value="SD 2.1 Unclip">SD 2.1 Unclip</option>
                    <option value="SD 3">SD 3</option>
                    <option value="SD 3.5">SD 3.5</option>
                    <option value="SD 3.5 Large">SD 3.5 Large</option>
                    <option value="SD 3.5 Large Turbo">SD 3.5 Large Turbo</option>
                    <option value="SD 3.5 Medium">SD 3.5 Medium</option>
                    <option value="Sora 2">Sora 2</option>
                    <option value="SDXL 0.9">SDXL 0.9</option>
                    <option value="SDXL 1.0">SDXL 1.0</option>
                    <option value="SDXL 1.0 LCM">SDXL 1.0 LCM</option>
                    <option value="SDXL Lightning">SDXL Lightning</option>
                    <option value="SDXL Hyper">SDXL Hyper</option>
                    <option value="SDXL Turbo">SDXL Turbo</option>
                    <option value="SDXL Distilled">SDXL Distilled</option>
                    <option value="Seedream">Seedream</option>
                    <option value="SVD">SVD</option>
                    <option value="SVD XT">SVD XT</option>
                    <option value="Veo 3">Veo 3</option>
                    <option value="Wan Video">Wan Video</option>
                    <option value="Wan Video 1.3B t2v">Wan Video 1.3B t2v</option>
                    <option value="Wan Video 14B t2v">Wan Video 14B t2v</option>
                    <option value="Wan Video 14B i2v 480p">Wan Video 14B i2v 480p</option>
                    <option value="Wan Video 14B i2v 720p">Wan Video 14B i2v 720p</option>
                    <option value="Wan Video 2.2 TI2V-5B">Wan Video 2.2 TI2V-5B</option>
                    <option value="Wan Video 2.2 I2V-A14B">Wan Video 2.2 I2V-A14B</option>
                    <option value="Wan Video 2.2 T2V-A14B">Wan Video 2.2 T2V-A14B</option>
                    <option value="Wan Video 2.5 T2V">Wan Video 2.5 T2V</option>
                    <option value="Wan Video 2.5 I2V">Wan Video 2.5 I2V</option>
                    <option value="ZImageTurbo">ZImageTurbo</option>
                </select>

                <!-- Sort selector -->
                <select name="sort"
                        class="col-span-1 select input-rounded"
                        value="{{config.search.sort}}">
                    <option value="Highest Rated">Highest Rated</option>
                    <option value="Most Downloaded">Most Downloaded</option>
                    <option value="Most Liked">Most Liked</option>
                    <option value="Most Discussed">Most Discussed</option>
                    <option value="Most Collected">Most Collected</option>
                    <option value="Most Images">Most Images</option>
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>

                </select>


                <label class="">
                    <input
                            type="number"
                            name="per_page"
                            placeholder="Results per page"
                            min="1"
                            max="100"
                            value="{{config.search.per_page}}"
                            class="flex-grow bg-gray-800 border border-gray-700 text-white placeholder-gray-400 px-4 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-500"
                    /> Results per page
                </label>


                <!-- NSFW toggle -->
                <label class="">
                    <input type="checkbox" name="nsfw" class="mr-2" value="{{config.search.nsfw}}"> NSFW
                </label>
            </div>
        </form>
    </div>

    <!-- Main content section -->
    <div id="main-content" class="px-4 py-6 order-1 md:order-2">
        {% include "partial/loading.html" %}

        <div class="flex justify-start items-center my-4">
            <div id="paginationTop" class="inline-flex flex-wrap items-center gap-1"></div>
        </div>

        <div id="grid" class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-7">
            <!-- Results will be injected here -->
        </div>

        <div class="flex justify-start items-center my-4">
            <div id="paginationBottom" class="inline-flex flex-wrap items-center gap-1"></div>
        </div>
    </div>

    <!-- Modal for item detail -->
    <div id="itemModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
        <div class="bg-gray-900 border border-gray-700 rounded-lg w-full max-w-5xl p-6 overflow-y-auto max-h-[90vh]">
            <button id="closeModal" class="text-white float-right text-xl">✖</button>
            <h2 id="modalTitle" class="text-2xl font-bold text-white mb-4"></h2>
            <div>
                <p>CivitAI: </p>
                <a id="civitaiLink" class="mb-2 inline-block text-blue-400 hover:underline"></a>
            </div>
            <div id="versionTabs" class="flex gap-2 mb-4 flex-wrap"></div>
            <div id="versionContent"></div>
            <div id="modelDescription"></div>
        </div>
    </div>
</main>

<script>
    let config = {};

    async function loadConfigAndApply() {
        const res = await fetch("/api/config/");
        config = await res.json();
        const search = config?.civitai?.search || {};

        const form = document.getElementById("searchForm");
        const typesSelect = form.types;

        for (const option of typesSelect.options) {
            option.selected = search.types.includes(option.value);
        }

        const baseModelsSelect = form.baseModels;
        for (const option of baseModelsSelect.options) {
            option.selected = search.base_models.includes(option.value);
        }

        // Sort
        if (search.sort) {
            form.sort.value = search.sort;
        }

        // NSFW
        if (typeof search.nsfw === "boolean") {
            form.nsfw.checked = search.nsfw;
        }

        // per_page
        if (search.per_page) {
            form.per_page.value = search.per_page;
        }
    }

    window.addEventListener("DOMContentLoaded", async () => {
        await loadConfigAndApply();
    });
</script>

<script>
    let nextCursor = null;
    let lastCursor = [];
    let currCursor = null;

    async function fetchAndRender(cursor = null, go_next = true) {
        showLoading(true);
        const grid = document.getElementById("grid");
        grid.innerHTML = "";

        const formData = new FormData(document.getElementById("searchForm"));
        const query = formData.get("query") || "";
        const sort = formData.get("sort") || "Newest";
        const nsfw = formData.get("nsfw");
        const types = formData.getAll("types");
        const baseModels = formData.getAll("baseModels");
        const limit = parseInt(formData.get("per_page")) || 15;

        config.civitai.search.types = types;
        config.civitai.search.base_models = baseModels;
        config.civitai.search.sort = sort;
        config.civitai.search.nsfw = nsfw ? true : false;
        config.civitai.search.per_page = limit;
        await fetch("/api/config/update", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(config),
        });


        const url = new URL("https://civitai.com/api/v1/models?token=" + config.civitai.api_key);
        url.searchParams.set("limit", limit);
        url.searchParams.set("query", query);
        url.searchParams.set("sort", sort);
        url.searchParams.set("nsfw", nsfw ? "true" : "false");
        if (types.length > 0) {
            url.searchParams.append("types", types.join(","));
        }
        for (const baseM of baseModels) {
            if (baseM !== "") {
                url.searchParams.append("baseModels", baseM);
            }
        }
        if (cursor) {
            url.searchParams.set("cursor", cursor);
        }

        const res = await fetch(url);
        const json = await res.json();
        showLoading(false);

        json.items?.forEach(item => {
            const firstImage = item.modelVersions?.[0]?.images?.[0] || {};
            const previewImage = firstImage.url || "";

            let preview = ``;
            if (firstImage.type === "image") {
                preview = `<img src="${previewImage}" alt="${item.name}" class="w-full aspect-w-1 aspect-h-1 object-cover bg-gray-100">`;
            } else {
                preview = `<video class="w-full aspect-w-1 aspect-h-1 object-cover bg-gray-100" controls muted>
                    <source src="${previewImage}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>`;
            }

            const card = document.createElement("div");
            card.className = "bg-gray-900 border border-gray-700 rounded-lg overflow-hidden shadow-md cursor-pointer hover:bg-gray-800";
            card.innerHTML = `
                ${preview}
                <div class="p-4">
                  <h2 class="text-lg font-semibold truncate text-white">${item.name}</h2>
                </div>
              `;
            card.addEventListener("click", () => openItemModal(item));
            grid.appendChild(card);
        });

        if (go_next) {
            lastCursor.push(currCursor);
            currCursor = nextCursor;
        }
        nextCursor = json.metadata?.nextCursor || null;
        renderPagination();
    }

    function renderPagination() {
        const containerTop = document.getElementById("paginationTop");
        const containerBottom = document.getElementById("paginationBottom");
        containerTop.innerHTML = containerBottom.innerHTML = "";

        if (lastCursor.length > 0) {
            const topPrevBtn = document.createElement("button");
            topPrevBtn.textContent = "Prev";
            topPrevBtn.className = "btn btn-secondary btn-sm";

            let cursor = lastCursor[lastCursor.length - 1];
            const botPrevBtn = topPrevBtn.cloneNode(true);
            topPrevBtn.addEventListener("click", () => {
                lastCursor.pop();
                fetchAndRender(cursor, false);
            });
            botPrevBtn.addEventListener("click", () => {
                lastCursor.pop();
                fetchAndRender(cursor, false);
            });

            containerTop.appendChild(topPrevBtn);
            containerBottom.appendChild(botPrevBtn);
        }

        if (nextCursor) {
            const topNextBtn = document.createElement("button");
            topNextBtn.textContent = "Next";
            topNextBtn.className = "btn btn-secondary btn-sm";

            const botNextBtn = topNextBtn.cloneNode(true);

            topNextBtn.addEventListener("click", () => fetchAndRender(nextCursor));
            botNextBtn.addEventListener("click", () => fetchAndRender(nextCursor));

            containerTop.appendChild(topNextBtn);
            containerBottom.appendChild(botNextBtn);
        }


    }

    async function openItemModal(item) {
        document.getElementById("modalTitle").textContent = item.name;
        const desc = document.getElementById("modelDescription");
        desc.innerHTML = item.description || "";

        let civitaiLink = document.getElementById("civitaiLink");
        civitaiLink.href = `https://civitai.com/models/${item.id}`;
        civitaiLink.textContent = `https://civitai.com/models/${item.id}`;

        const tabs = document.getElementById("versionTabs");
        const content = document.getElementById("versionContent");
        tabs.innerHTML = content.innerHTML = "";

        item.modelVersions?.forEach((version, index) => {
            const tab = document.createElement("button");
            tab.textContent = version.name || `Version ${index + 1}`;
            tab.className = "btn btn-secondary btn-sm";
            tab.addEventListener("click", () => showVersionContent(version, item));
            tabs.appendChild(tab);
        });

        if (item.modelVersions?.length) showVersionContent(item.modelVersions[0], item);
        document.getElementById("itemModal").classList.remove("hidden");
    }

    async function showVersionContent(version, item) {
        const container = document.getElementById("versionContent");
        container.innerHTML = "";

        for (const file of version.files || []) {
            const fileInfo = document.createElement("div");
            const fileName = document.createElement("strong");
            fileName.className = "px-2"
            fileName.textContent = file.name;
            const fileSize = document.createElement("span");
            let fileSizeDisp = file.sizeKB || 0;
            let fileSizeUnit = " KB";
            if (fileSizeDisp > 1024.0) {
                fileSizeDisp /= 1024.0;
                fileSizeUnit = " MB";
            }
            if (fileSizeDisp > 1024.0) {
                fileSizeDisp /= 1024.0;
                fileSizeUnit = " GB";
            }
            fileSize.textContent = fileSizeDisp.toFixed(2) + fileSizeUnit;
            fileInfo.appendChild(fileName);
            fileInfo.appendChild(fileSize);

            const fileBox = document.createElement("div");
            fileBox.className = "mb-2 flex gap-2 items-center";

            const input = document.createElement("input");
            input.type = "text";
            input.className = "flex-grow bg-gray-800 text-white px-2 py-2 rounded border border-gray-700";
            const res = await fetch(`/api/item/saved_location?model_type=${encodeURIComponent(item.type || '')}&blake3=${file.hashes?.BLAKE3}`);
            const location = await res.json();
            input.value = location.saved_location || "";
            const is_downloaded = location.is_downloaded;

            const btn = document.createElement("button");
            if (is_downloaded === false) {
                btn.textContent = "⬇️ Download";
                btn.className = "btn btn-primary";
                btn.addEventListener("click", async () => {
                    const path = encodeURIComponent(input.value);
                    // TODO: Does need to pass model_type
                    const url = `/api/item/civitai_download?blake3=${file.hashes?.BLAKE3}&dest=${path}&url=${file.downloadUrl}&name=${file.name}&model_type=${encodeURIComponent(item.type || '')}`;
                    const download_res = await fetch(url);
                    const res_value = await download_res.json();
                    if (res_value.err) {
                        alert("ERROR!" + res_value.err);
                    } else {
                        
                    }
                });
            } else {
                btn.textContent = "Downloaded"
                btn.className = "btn btn-disabled";
            }

            const baseModel = document.createElement("strong");
            baseModel.textContent = "Base Model:";
            baseModel.className = "px-2";
            const baseModelValue = document.createElement("span");
            baseModelValue.textContent = version.baseModel;
            baseModelValue.className = "flex-grow bg-gray-800 text-white px-2 py-1 rounded border border-gray-700";

            container.appendChild(fileInfo);
            fileBox.appendChild(input);
            fileBox.appendChild(btn);
            container.appendChild(fileBox);
            container.appendChild(baseModel);
            container.appendChild(baseModelValue);
            container.appendChild(document.createElement("br"));
            container.appendChild(document.createElement("br"));
        }

        const previewWrapper = document.createElement("div");
        previewWrapper.className = "flex flex-col gap-2 mb-6";
        // Main image area
        let mainImage = document.createElement("img");
        let mainVideo = document.createElement("video");
        mainVideo.controls = true;
        mainVideo.muted = true;
        mainVideo.className = mainImage.className = "w-full max-h-[500px] object-contain rounded border border-gray-700 bg-black";
        mainVideo.src = mainImage.src = version.images?.[0]?.url || ""; // default to first image
        if (version.images?.[0]?.type === "video") {
            mainVideo.classList.remove("hidden");
            mainImage.classList.add("hidden");
        } else {
            mainImage.classList.remove("hidden");
            mainVideo.classList.add("hidden");
        }
        // Thumbnail row
        const thumbnailRow = document.createElement("div");
        thumbnailRow.className = "flex gap-2 overflow-x-auto";
        version.images?.forEach(img => {
                const thumbImg = document.createElement("img");
                const thumbVideo = document.createElement("video");
                thumbVideo.src = thumbImg.src = img.url;
                thumbVideo.className = thumbImg.className = "h-20 w-auto rounded border border-gray-600 cursor-pointer hover:border-purple-400";

                if (img.type === "video") {
                    thumbVideo.classList.remove("hidden");
                    thumbImg.classList.add("hidden");
                    thumbVideo.addEventListener("click", () => {
                        mainImage.classList.add("hidden");
                        mainVideo.classList.remove("hidden");
                        mainVideo.src = img.url;
                    });
                } else {
                    thumbImg.classList.remove("hidden");
                    thumbVideo.classList.add("hidden");
                    thumbImg.addEventListener("click", () => {
                        mainImage.classList.remove("hidden");
                        mainVideo.classList.add("hidden");
                        mainImage.src = img.url;
                    });
                }
                thumbnailRow.appendChild(thumbVideo);
                thumbnailRow.appendChild(thumbImg);
            }
        )
        ;
        previewWrapper.appendChild(mainImage);
        previewWrapper.appendChild(mainVideo);
        previewWrapper.appendChild(thumbnailRow);
        container.appendChild(previewWrapper);

        const description = document.createElement("div");
        description.innerHTML = version.description || "";
        container.appendChild(description);
    }

    document.getElementById("searchForm").addEventListener("submit", function (e) {
        e.preventDefault();
        nextCursor = null;
        fetchAndRender();
    });


    const modal = document.getElementById("itemModal");
    document.getElementById("closeModal").addEventListener("click", () => {
        modal.classList.add("hidden");
    });
    modal.addEventListener("click", (e) => {
        if (e.target === modal) {
            modal.classList.add("hidden");
        }
    });
</script>


{% include "partial/footer.html" %}
